 body{
    background-color: rgb(180, 180, 202);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    overflow: scroll;
    margin: 0px;
 } 

 p{ 
    padding:25px;
    color: black;
    font-size: 25px;
    background-color:  silver;
    height: 100px;
    
 }  

 h1{ 
    color: blue;
    font-size: 50px;
    font-style: inherit;
 } 

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

   /* 
    Building a horizontal list 
   */

 li a {                
   display: inline; 
   float : left;
   color: black;
   text-align: center;
   padding: 25px;
   height: 10px;
   width: 100px;
   text-decoration: none;
   font-size: 25px;
   font-size: 30px;
 } 

 li a:hover {
     color: blue;
 }